AUTOMAN_SECRET_KEY=change-this-on-pythonanywhere

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=automan_almacen

AUTOMAN_ADMIN_USER=admin
AUTOMAN_ADMIN_PASSWORD=change-admin-password

AUTOMAN_ALMACEN_USER=almacen
AUTOMAN_ALMACEN_PASSWORD=change-almacen-password
