DJANGO_SECRET_KEY=change-this-on-pythonanywhere
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourusername.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourusername.pythonanywhere.com

DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_EMAIL=admin@example.com
DJANGO_ADMIN_PASSWORD=

DJANGO_OPERATOR_USERNAME=almacen
DJANGO_OPERATOR_EMAIL=almacen@example.com
DJANGO_OPERATOR_PASSWORD=
