AUTOMAN_SECRET_KEY=change-this-on-pythonanywhere
AUTOMAN_DATABASE=/home/yourusername/autostock-automotriz/database/automan.sqlite3

AUTOMAN_ADMIN_USER=admin
AUTOMAN_ADMIN_PASSWORD=change-admin-password

AUTOMAN_ALMACEN_USER=almacen
AUTOMAN_ALMACEN_PASSWORD=change-almacen-password
